pandas~=2.2.1
numpy~=1.24.0
numba~=0.59.0
scikit-learn~=0.24.2
streamlit~=1.36.0
click==8.0.4
requests~=2.31.0
python-dotenv~=0.17.1
configparser~=5.0.2
flask~=2.0.1
influxdb~=5.3.1
scipy~=1.8
urllib3~=1.25.11
simplejson~=3.17.2
mlflow~=2.10.1
pyqtgraph~=0.11.0
vispy~=0.7.0
wandb~=0.12.21
matplotlib~=3.6
plotly
seaborn
python-logstash~=0.4.6
redis~=4.1.0
shap
hiplot
ipywidgets
umap-learn==0.5.1
networkx
fpdf
fredapi
pytictoc
transitions
influxdb-client
streamlit_drawable_canvas
datetime
pyee
pingouin
pika
streamlit-permalink
boto3
more_itertools
streamlit_tags
plotnine
ipywidgets
human-id
b2sdk
pyarrow
altair<5
streamlit_js_eval
tpot
xgboost
dill